html, 
body{
    margin: 0;
    padding: 0;
    font-family: "Seoge UI";  
    scroll-behavior: smooth;   
}

/* LANDING PART */

.landing-body{
    background-color: #fff3f1;
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 1;
}

.bg-circle{
    width: 400px;
    height: 400px;
    background-color: #ffc5be;
    border-radius: 50%;
}

.landing-circle-1 {
    position: absolute;
    top: -250px;
    right: 400px;
    z-index: -1;
}
.landing-circle-2 {
    position: absolute;
    left: -250px;
    top: 150px;
    z-index: -1;
}
.bg-svg {
    position: absolute;
    bottom: 0;
    right: 5%;
}
.nav-body {
    padding: 10px;
    font-size: 24px;
}
.nav-logo {
    display: inline-block;
    margin-left: 35px; 
}
.nav-items {
    float: right;
    margin-right: 10%;
}
.nav-link {
    display: inline-block;
    padding: 10px 30px;
}
.nav-link a {
    text-decoration: none;
    color: black;
}
.landing-content {
    margin-top: 10%;
    margin-left: 12%;
}
.landing-heading {
    font-size: 48px;
    width: 45%;
}
.landing-caption {
    margin-top: 50px;
    font-size: 24px;
}

/* FEATURED RECIPES */

h1 {
    margin: 4px 0;
}
.featured-body {
    height: 100%;
    padding: 50px 10%;
    margin-bottom: 50px;
}
.featured-line {
    width: 190px;
    height: 4px;
    background-color: #ff8383;
    margin-left: 20px;
}
.featured-cardwrap {
    margin: 10px auto;
}
.featured-card {
    width: 35%;
    padding: 15px 2%;
    border-radius: 22px;
    background-color: #fff3f1;
    display: inline-block;
    margin: 20px;
    position: relative;   
}
.featured-icon {
    position: absolute;
    top: -50px;
    right: -30px;
}
.featured-list {
    font-size: 24px;
    line-height: 33px;
}
.featured-list li{
    margin-top: 10px;
}

/* TRICKS PART */

.tricks-body {
    background-color: #fff3f1;
    padding: 50px 10%;
    position: relative;
}
.tricks-line {
    width: 150px;
    height: 4px;
    background-color: #ff8383;
    margin-left: 20px; 
}
.tricks-wrap {
    margin-top: 10px;
}
.tricks-list {
    width: 70%;
    padding: 20px;
    display: inline-block;
}
.tricks-list li {
    font-size: 34px;
}
.tricks-list li p{
    font-size: 24px;
    font-style: italic;
}
.tricks-image {
    display: inline-block;
    width: 10%;
    position: absolute;
    top: 40%;
}

/* FOOTER */

.footer-body {
    background-color: #4b4b4b;
    padding: 50px 10%;
    color: white;
    display: flex;
}
.footer-column {
    width: 24%;
    display: inline-block;
    padding: 10px;
}
.footer-heading {
    font-size: 24px;
}


/* RESPONSIVE DESIGN */

@media (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .landing-content {
        padding-top: 50%;
    }
    .bg-svg {
        position: absolute;
        top: 20%;
        left: 25%;
    }
    .bg-svg > img {
        width: 250px;
    }
    .landing-heading {
        font-size: 32px;
        width: 80%;
    }
    .landing-caption {
        font-size: 20px;
    }
}

/* RESPONSIVE DESIGN ENDS*/